body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, #d9afd9, #97d9e1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}
h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
    animation: fadeIn 1s ease-out;
}
h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #666;
    animation: fadeIn 1.5s ease-out;
}
#daily-quote, #quote {
    font-size: 18px;
    margin: 20px 0;
    color: #444;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

select, input[type="number"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 60%;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

select:focus {
    border-color: #6c5ce7;
    box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

select option {
    padding: 10px;
}
.btn, .small-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #6c5ce7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}
.socials-container{
  display: flex;
  gap: 20px;
}
.socials-container a{
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 32px;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover{
  background-color: var(--accent-color);
  fill: white;
}
.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}
